.nav-item{
  margin-right: 20px;
  color: #0d2c6c;
}
.get-btn {
  background-color: #0d2c6c;   /* Dark Blue */
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}

/* Hover Effect */
.get-btn:hover {
  background-color:lightgreen;   /* Darker Blue */
  transform: translateY(-2px);
  box-shadow: lightgreen;
  color: white;
}
.navbar-brand{
 width: 190px;
}

.about-hero {
  position: relative;
  height: 420px;
  overflow: hidden;
  background: #f2f4f7;
}

.hero-left {
  background: #f2f4f7;
  z-index: 2;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #111;
}

.breadcrumb-text {
  font-size: 14px;
  font-weight: 600;
  color: #666;
  letter-spacing: 1px;
}

.hero-right {
  height: 420px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== TRIANGLES ===== */
.triangle {
  position: absolute;
  z-index: 3;
}

.triangle-blue {
  top: 0;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #1f3c88;
  clip-path: polygon(0 0, 40% 0, 30% 40%, 0% 40%);
}

.triangle-green {
  bottom: 0;
  left: 25%;
  width: 55%;
  height: 50%;
  background: #67b346;
  clip-path: polygon(0 0, 40% 0, 30% 40%, 0% 40%);
}

.excellence-section {
  background: #ffffff;
}

.ex-title {
  font-size: 38px;
  font-weight: 700;
  color: #0b2c6b;
  margin-bottom: 25px;
}

.ex-title span {
  color: #4caf50;
}

.ex-text {
  font-size: 15px;
  line-height: 1.9;
  color: #666;
  margin-bottom: 18px;
  text-align: justify;
}

/* Divider */
.vertical-divider {
  width: 1px;
  height: 100%;
  background: #d9d9d9;
}

/* Portrait */
.portrait-img {
  max-width: 320px;
  max-height: 320px;
  filter: grayscale(100%);
}

.portrait-name {
  color: #0b2c6b;
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
}

.core-values-section {
  background-color: #1c2f7a; /* deep blue */
  padding: 90px 0;
}

.core-title {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.core-text {
  max-width: 980px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.9;
  color: #d6dbff;
  text-align: center;
}

.footer-main {
  background-color: #162a7a;
  color: white;
  padding: 70px 0;
}

.footer-logo {
  margin-bottom: 20px;
 filter: brightness(0) invert(1);
}


.footer-col h5 {
  color: #7bed3f;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #7bed3f;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.footer-icon {
  margin-right: 10px;
  color: #7bed3f;
}


/* ===== Bottom Bar ===== */

.footer-bottom {
  background-color: #63b83d;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons svg {
  margin: 0 8px;
  background: #162a7a;
  padding: 8px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  background: white;
  color: #162a7a;
}

