.hero-section {
  position: relative;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1509395176047-4a66953fd231") center/cover no-repeat;
}



.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.stats-section {
  background-color: #0d2c6c;  /* dark blue background */
  padding: 40px 0;
}

.stat-number {
  color: #2cc36b;   /* green */
  font-size: 32px;
  font-weight: 700;
}

.stats-section p {
  color: white;
  font-size: 16px;
}


.stats-section {
  background-color: #0d2c6c;
  padding: 30px 0;
}

.stats-section h3 {
  font-weight: bold;
  font-size: 28px;
}

.nav-link {
  color:#0d2c6c;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}
.nav-item{
  margin-right: 20px;
  color: #0d2c6c;
}
.get-btn {
  background-color: #0d2c6c;   /* Dark Blue */
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}

/* Hover Effect */
.get-btn:hover {
  background-color:lightgreen;   /* Darker Blue */
  transform: translateY(-2px);
  box-shadow: lightgreen;
  color: white;
}
.navbar-brand{
 width: 190px;
}
.btn-read{
   background-color: #0d2c6c;   /* Dark Blue */
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}
 .fw-bold{
  color:#0d2c6c;
 }
 /* ===== Header Blue Section ===== */

.why-header {
  background-color: #162a7a;
  padding: 40px 0;
}

.why-title {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.why-title span {
  color: #79e33c;   /* Green text */
}

/* ===== Cards Section ===== */

.why-content {
  background-color: #f5f5f5;
}

.why-card {
  background: white;
  padding: 30px 20px;
  border-radius: 6px;
  transition: 0.3s ease;
  height: 100%;
}

.why-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.icon-circle {
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #f0f2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #79e33c;
  border: 4px solid #e6e9f2;
}

.why-card h5 {
  color: #162a7a;
  font-weight: 600;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.why-card h5:hover {
  color: #79e33c;  
  transform: translateY(-3px);
}

.why-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}

/* ===== Testimonials Section ===== */

.testimonial-section {
  background-color: #f2f3f7;
  padding: 80px 0;
}

.testimonial-title {
  color: #162a7a;
  font-size: 32px;
  font-weight: 700;
}

.testimonial-subtitle {
  color: #666;
  margin-top: 10px;
}

.testimonial-card {
  background: white;
  padding: 40px 30px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  text-align: left;
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.client-img {
  position: absolute;
  top: -30px;
  left: 20px;
}

.client-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
}

.testimonial-card h6 {
  margin-top: 40px;
  font-weight: 600;
  color: #162a7a;
}

.testimonial-card span {
  font-size: 13px;
  color: #666;
  display: block;
  margin-bottom: 15px;
}

.testimonial-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* Dots */
.testimonial-dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.active-dot {
  background: #162a7a !important;
}

/* ===== Latest News Header ===== */

.latest-news-header {
  background-color: #162a7a;
  padding: 40px 0;
}

.latest-news-header h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.latest-news-header span {
  color: #79e33c;
}

/* ===== News Section ===== */

.news-section {
  padding: 80px 0;
  background-color: #f5f6fa;
}

.news-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
  background: white;
}

.news-card:hover {
  transform: translateY(-8px);
}

.news-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.news-content {
  background-color: #1b2e83;
  color: white;
  padding: 25px;
  min-height: 240px;
}

.news-content h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.4;
}

.news-content p {
  font-size: 14px;
  opacity: 0.9;
}

/* ===== Trusted Blue Banner ===== */

.trusted-section {
  background-color: #162a7a;
  padding: 60px 0;
}

.trusted-section h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.trusted-section span {
  color: #7bed3f;
}

/* ===== Logo Auto Slider ===== */

.logo-slider {
  overflow: hidden;
  background: #f5f6fa;
  padding: 60px 0;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scrollLeftToRight 25s linear infinite;
}

.logo-card {
  background: white;
  border-radius: 20px;
  padding: 30px 40px;
  margin: 0 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  transition: 0.3s;
}

.logo-card:hover {
  transform: translateY(-6px);
}

.logo-card img {
  max-width: 120px;
  opacity: 0.8;
}

/* Animation */
@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.footer-main {
  background-color: #162a7a;
  color: white;
  padding: 70px 0;
}

.footer-logo {
  margin-bottom: 20px;
 filter: brightness(0) invert(1);
}


.footer-col h5 {
  color: #7bed3f;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #7bed3f;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.footer-icon {
  margin-right: 10px;
  color: #7bed3f;
}


/* ===== Bottom Bar ===== */

.footer-bottom {
  background-color: #63b83d;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons svg {
  margin: 0 8px;
  background: #162a7a;
  padding: 8px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  background: white;
  color: #162a7a;
}